body{
    font-family: 'Prompt', sans-serif;
}
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
   } 
  body{
    font-family: 'Prompt', sans-serif;
  }

#top-head{
    height: 40px;
    width: 100%;
    text-align: center;
    background: black;
    color:white ;
    padding-top: 5px;
}
#navbar{
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.logo{
    height: 110%;
    width: 140px;
}
#navbar>.navtag{
    margin-top: 30px;
    margin-bottom: 5px;
    width: 30%;
    margin-left: 80px;
}
#navbar>.navtag>ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;
    /* font-family: monospace; */
}
#navbar>.navtag>ul>li>a{
    color: black;

}
#navbar>.navlogo {
    margin: 30px;
    /* margin-right: 10px; */
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
 a{
    color: black;
}
#about{
    width: 80%;
    margin: auto;
}
#about>div{
    height: 500px;
    width: 100%;
}
#about>div>img{
    height: 100%;
    width: 100%;
}
#about>#story>h4p{
    color: gray;
}
#about>#story,p{
    font-size: 18px;
}
#about>#story>p{
    font-size: 18px;
    color: grey;
}

