#shop{
    display: flex;
    justify-content: space-evenly;
}
#category{
    height: 100vh;
    width: 30%;
    border: 1px solid red;
}
#category>div>select{
    width: 70%;
    padding: 10px;
}
#products{
    width: 68%;
}